<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy</title>
        <meta charset="UTF-8">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
        <link rel="stylesheet" type="text/css" href="/web/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/images/favicon.ico">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <script>
            function percentFormatter(value, row) {
                return value + '%';
            }

            function positionFormatter(value, row) {
                var position = 'POR';
                if (value === 2) {
                    position = 'DEF';
                } else if (value === 3) {
                    position = 'CEN';
                } else if (value === 4) {
                    position = 'DEL';
                }
                return '<span class="position pos-' + value + '">' + position + '</span>';
            }

            function teamFormatter(value, row) {
                if (value === 'atletico-de-madrid') {
                    value = 'ATM';
                } else if (value === 'athletic-club') {
                    value = 'ATH';
                } else if (value === 'cadiz-cf') {
                    value = 'CAD';
                } else if (value === 'c-a-osasuna') {
                    value = 'OSA';
                } else if (value === 'd-alaves') {
                    value = 'ALA';
                } else if (value === 'fc-barcelona') {
                    value = 'BAR';
                } else if (value === 'getafe-cf') {
                    value = 'GET';
                } else if (value === 'granada-cf') {
                    value = 'GRA';
                } else if (value === 'girona-fc') {
                    value = 'GIR';
                } else if (value === 'rayo-vallecano') {
                    value = 'RAY';
                } else if (value === 'rc-celta') {
                    value = 'CEL';
                } else if (value === 'rcd-mallorca') {
                    value = 'MLL';
                } else if (value === 'real-betis') {
                    value = 'BET';
                } else if (value === 'real-madrid') {
                    value = 'RMA';
                } else if (value === 'real-sociedad') {
                    value = 'RSO';
                } else if (value === 'sevilla-fc') {
                    value = 'SEV';
                } else if (value === 'valencia-cf') {
                    value = 'VAL';
                } else if (value === 'villarreal-cf') {
                    value = 'VIL';
                } else if (value === 'ud-almeria') {
                    value = 'ALM';
                } else if (value === 'ud-las-palmas') {
                    value = 'LPA';
                }
                return '<span class="team team-' + value + '">' + value + '</span>';
            }

            function ownerFormatter(value, row) {
                if (value === null) {
                    return '';
                }
                if (value === 'Jesus_Ciudad') {
                    value = 'JES';
                } else if (value === 'Edu') {
                    value = 'EDU';
                } else if (value === 'liebana_team') {
                    value = 'LIE';
                } else if (value === 'Moncho RoMa') {
                    value = 'RAM';
                } else if (value === 'Nicojeda') {
                    value = 'NIC';
                } else if (value === 'Cocolan FC') {
                    value = 'COC';
                } else if (value === 'sporting cocolan') {
                    value = 'SPO';
                }
                return '<span class="owner own-' + value + '">' + value + '</span>';
            }

            function statusFormatter(value, row) {
                var status = value;
                if (value === 'ok') {
                    return '';
                } else if (value === 'doubtful') {
                    status = 'UNK';
                } else if (value === 'injured') {
                    status = 'INJ';
                } else if (value === 'out_of_league') {
                    status = 'OUT';
                } else if (value === 'suspended') {
                    status = 'SUS';
                }
                return '<span class="status status-' + status + '">' + status + '</span>';
            }

            function footItemCountFormatter(data) {
                return data.length;
            }

            function footBuyValueFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.buy_value);
                });
                return total.toFixed(0);
            }

            function footSaleValueFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.sale_value);
                });
                return total.toFixed(0);
            }

            function footBenefitValueFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.benefit);
                });
                return total.toFixed(0);
            }

            function footPercBenefitFormatter(data) {
                var total_buy = 0;
                data.forEach(function(data) {
                    total_buy = total_buy + parseFloat(data.buy_value);
                });
                var total_sale = 0;
                data.forEach(function(data) {
                    total_sale = total_sale + parseFloat(data.sale_value);
                });
                return ((total_sale - total_buy) * 100 / total_buy).toFixed(0) + '%';
            }

            function footChange3dFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.change_3d);
                });
                return total.toFixed(1);
            }

            function footPerc3dFormatter(data) {
                var total_sale = 0;
                data.forEach(function(data) {
                    total_sale = total_sale + parseFloat(data.sale_value);
                });
                var total_3d = 0;
                data.forEach(function(data) {
                    total_3d = total_3d + parseFloat(data.change_3d);
                });
                return (total_3d * 100 / total_sale).toFixed(0) + '%';
            }

            function footMatchesFormatter(data) {
                var matches = 0;
                data.forEach(function(data) {
                    if (data.matches > matches) {
                        matches = data.matches;
                    }
                });
                return matches;
            }

            function footAverageFormatter(data) {
                var average = 0;
                data.forEach(function(data) {
                    average = average + parseFloat(data.average);
                });
                return average;
            }

            function footPointsFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.points);
                });
                return total;
            }

            function footPointsLstFormatter(data) {
                var total = 0;
                data.forEach(function(data) {
                    total = total + parseFloat(data.lastSeasonPoints);
                });
                return total;
            }

            function cellStyleValue(value, row, index) {
                var scale = Math.min(Math.floor(value / 10), 9);
                return {
                    classes: 'right scale-' + scale
                }
            }

            function clauseStyleValue(value, row, index) {
                if (value === '1d' || value === '2d') {
                    return {
                        classes: 'right warning'
                    }
                } else if (value.indexOf('h') > -1 || value.indexOf('m') > -1 || value.indexOf('s') > -1) {
                    return {
                        classes: 'right error'
                    }
                } else {
                    var scale = Math.min(Math.floor(value / 10), 9);
                    return {
                        classes: 'right scale-' + scale
                    }
                }
            }

            function cellStyleWarnings(value, row, index) {
                extra = ''
                if (value !== null) {
                    if (value === 1) {
                        extra = ' warning';
                    } else if (value > 1) {
                        extra = ' error';
                    }
                }
                return {
                    classes: 'right' + extra
                }
            }
        </script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/update">
                    <img src="/images/futbol.png" alt="Logo" width="26"
                         height="26" class="d-inline-block align-text-top">
                    Fantasy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/operations">Operations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/market">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/players">Players</a>
                        </li>
                    </ul>
                    <table class="d-flex right">
                        <tr class="team-details"><td>{{ points }} points</td></tr>
                        <tr class="team-details"><td>{{ cash }} cash, {{ team }} team, {{ total }} total</td></tr>
                    </table>
                </div>
            </div>
        </nav>
        {% block card_body %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    </body>
</html>
