{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<table
  data-toggle="table"
  data-url="operations.json"
  data-pagination="true"
  data-search="true">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Player</th>
      <th data-sortable="true" data-field="pos">Position</th>
      <th data-sortable="true" data-field="buy_tt">Buy TT</th>
      <th data-sortable="true" data-field="buy_value">Buy Value</th>
      <th data-sortable="true" data-field="sell_tt">Sell TT</th>
      <th data-sortable="true" data-field="sell_value">Sell Value</th>
    </tr>
  </thead>
</table>
{% endblock %}
