{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-toggle="table" data-url="market.json" class="table-borderless">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Player</th>
      <th data-field="pos" data-formatter="positionFormatter" class="tag"></th>
      <th data-field="team" data-formatter="teamFormatter" class="tag"></th>
      <th data-field="status" data-formatter="statusFormatter" class="tag"></th>
      <th data-sortable="true" data-field="buy_value" class="right">Val</th>
      <th data-sortable="true" data-field="percent_chg_3d" data-formatter="percentFormatter" class="right">%</th>
      <th data-sortable="true" data-field="points" class="right">Pts</th>
      <th data-sortable="true" data-field="avgPoints" class="right">Avg</th>
      <th data-sortable="true" data-field="bids" class="right">Bs</th>
      <th data-sortable="true" data-field="myBid" class="right">MyB</th>
      <th data-sortable="true" data-field="seller" data-formatter="ownerFormatter" class="tag">O</th>
    </tr>
  </thead>
</table>
{% endblock %}
