{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block update %}
<a class="navbar-brand" href="/update_market">
    <img src="/images/futbol.png" alt="Logo" width="26"
         height="26" class="d-inline-block align-text-top">
    Fantasy
</a>
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-toggle="table" data-url="market.json" class="table-borderless">
  <thead>
    <tr>
      <th class="index" data-sortable="true" data-field="index">#</th>
      <th data-field="player" data-formatter="playerFormatter" data-sortable="true">Player</th>
      <th class="tag" data-field="pos" data-formatter="positionFormatter" data-sortable="true">P</th>
      <th class="tag" data-field="team" data-formatter="teamFormatter" data-sortable="true">T</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="average" data-sortable="true">Avg</th>
      <th class="right" data-field="points" data-sortable="true">Pts</th>
      <th class="right" data-field="matches" data-sortable="true">Mat</th>
      <th class="right" data-cell-style="cellStyleValue" data-field="buy_value" data-sortable="true">Val</th>
      <th class="right" data-field="change_3d" data-footer-formatter="footSum1DFormatter" data-sortable="true">3DC</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="percent_chg_3d"
          data-formatter="percentFormatter" data-sortable="true">3D%</th>
      <th class="right" data-cell-style="cellStyleWarnings" data-field="bids" data-sortable="true">Bs</th>
      <th class="right" data-field="myBid" data-sortable="true">MyB</th>
      <th class="tag" data-field="seller" data-formatter="ownerFormatter" data-sortable="true">O</th>
      <th class="right" data-cell-style="cellStypePercent" data-field="percentage"
          data-formatter="percentFormatter" data-sortable="true">%</th>
      <th class="tag" data-field="rival" data-formatter="teamFormatter"></th>
      <th class="tag" data-field="inout" data-formatter="inoutFormatter"></th>
    </tr>
  </thead>
</table>
{% endblock %}
