{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block update %}
<a class="navbar-brand" href="/news">
    <img src="/images/futbol.png" alt="Logo" width="26"
         height="26" class="d-inline-block align-text-top">
    Fantasy
</a>
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-search="true" data-toggle="table" data-url="news.json" class="table-borderless">
  <thead>
    <tr>
      <th class="left" data-formatter="dateFormatter" data-sortable="true" data-field="date">date</th>
      <th class="right" data-sortable="true" data-field="title">title</th>
      <th class="right" data-field="message">message</th>
    </tr>
  </thead>
</table>
{% endblock %}
