{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table class="table-borderless" data-toggle="table" data-search="true"
       data-show-footer="true" data-url="operations.json">
  <thead>
    <tr>
      <th class="index" data-sortable="true" data-field="index">#</th>
      <th data-sortable="true" data-field="name">Player</th>
      <th class="tag" data-field="pos" data-footer-formatter="footItemCountFormatter"
          data-formatter="positionFormatter"></th>
      <th class="right" data-field="buy_tt" data-sortable="true">Buy</th>
      <th class="right" data-cell-style="cellStyleValue" data-field="buy_value"
          data-footer-formatter="footSum0DFormatter" data-sortable="true">Val</th>
      <th class="right" data-field="sale_tt" data-sortable="true">Sale</th>
      <th class="right" data-cell-style="cellStyleValue" data-field="sale_value"
          data-footer-formatter="footSum0DFormatter" data-sortable="true">Val</th>
      <th class="right" data-field="benefit" data-footer-formatter="footSum0DFormatter"
          data-sortable="true">B</th>
      <th class="right" data-field="percent" data-footer-formatter="footPercBenefitFormatter"
          data-formatter="percentFormatter" data-sortable="true">%</th>
    </tr>
  </thead>
</table>
{% endblock %}
