{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table
  data-toggle="table"
  data-url="players.json"
  data-pagination="true"
  data-search="true">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Player</th>
      <th data-sortable="true" data-field="team" class="center">Team</th>
      <th data-sortable="true" data-field="pos" data-formatter="positionFormatter" class="center">Pos</th>
      <th data-sortable="true" data-field="status" class="center">Status</th>
      <th data-sortable="true" data-field="sale_value" class="right">Sale Value</th>
      <th data-sortable="true" data-field="points" class="right">Points</th>
    </tr>
  </thead>
</table>
{% endblock %}
