{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-toggle="table" data-url="players.json" data-show-footer="true" class="table-borderless">
  <thead>
    <tr>
      <th class="index" data-sortable="true" data-field="index">#</th>
      <th data-field="name" data-sortable="true">Player</th>
      <th class="tag" data-field="pos" data-footer-formatter="footItemCountFormatter"
          data-formatter="positionFormatter"></th>
      <th class="tag" data-field="team" data-formatter="teamFormatter"></th>
      <th class="tag" data-field="status" data-formatter="statusFormatter"></th>
      <th class="right" data-cell-style="cellStyleValue" data-field="buy_value"
          data-footer-formatter="footBuyValueFormatter" data-sortable="true">B</th>
      <th class="right" data-cell-style="cellStyleValue" data-field="sale_value"
          data-footer-formatter="footSaleValueFormatter" data-sortable="true">V</th>
      <th class="right" data-cell-style="cellStyleValue" data-field="clause_value"
          data-footer-formatter="footSaleValueFormatter" data-sortable="true">C</th>
      <th class="delta" data-formatter="deltaSecsFormatter" data-field="clause_secs">T</th>
      <th class="right" data-field="benefit" data-footer-formatter="footBenefitValueFormatter"
          data-sortable="true">B</th>
      <th class="right" data-field="percent_ben" data-footer-formatter="footPercBenefitFormatter"
          data-formatter="percentFormatter" data-sortable="true">%</th>
      <th class="right" data-field="change_3d" data-footer-formatter="footChange3dFormatter"
          data-sortable="true">3</th>
      <th class="right" data-field="percent_chg_3d" data-footer-formatter="footPerc3dFormatter"
          data-formatter="percentFormatter" data-sortable="true">%</th>
      <th class="right" data-field="points" data-sortable="true">P</th>
    </tr>
  </thead>
</table>
{% endblock %}
