{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-toggle="table" data-url="players.json" class="table-borderless">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Player</th>
      <th data-field="pos" data-formatter="positionFormatter" class="tag"></th>
      <th data-field="team" data-formatter="teamFormatter" class="tag"></th>
      <th data-field="status" data-formatter="statusFormatter" class="tag"></th>
      <th data-sortable="true" data-field="buy_tt" class="right">Buy</th>
      <th data-sortable="true" data-field="buy_value" class="right">Val</th>
      <th data-sortable="true" data-field="sale_value" class="right">Sale</th>
      <th data-sortable="true" data-field="benefit" class="right">B</th>
      <th data-sortable="true" data-field="percent_ben" data-formatter="percentFormatter" class="right">%</th>
      <th data-sortable="true" data-field="change_3d" class="right">3d</th>
      <th data-sortable="true" data-field="percent_chg_3d" data-formatter="percentFormatter" class="right">%</th>
      <th data-sortable="true" data-field="points" class="right">Pts</th>
    </tr>
  </thead>
</table>
{% endblock %}
