{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block update %}
<a class="navbar-brand" href="/update_points">
    <img src="/images/futbol.png" alt="Logo" width="26"
         height="26" class="d-inline-block align-text-top">
    Fantasy
</a>
{% endblock %}

{% block card_body %}
<script src=”web/javascript.js”></script>
<table data-toggle="table" data-url="points.json" data-show-footer="true" class="table-borderless">
  <thead>
    <tr>
      <th data-cell-style="cellStyleIndexInactive" data-sortable="true" data-field="index">#</th>
      <th data-field="player" data-cell-style="cellStyleInactive"
          data-formatter="playerFormatter" data-sortable="true">Player</th>
      <th class="tag" data-field="pos" data-footer-formatter="footItemCountFormatter"
          data-formatter="positionFormatter" data-sortable="true">P</th>
      <th class="tag" data-field="team" data-formatter="teamFormatter" data-sortable="true">T</th>
      <th class="right" data-field="total" data-footer-formatter="footSumFormatter" data-sortable="true">T</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j25"
          data-footer-formatter="footSumFormatter" data-sortable="true">25</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j24"
          data-footer-formatter="footSumFormatter" data-sortable="true">24</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j23"
          data-footer-formatter="footSumFormatter" data-sortable="true">23</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j22"
          data-footer-formatter="footSumFormatter" data-sortable="true">22</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j21"
          data-footer-formatter="footSumFormatter" data-sortable="true">21</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j20"
          data-footer-formatter="footSumFormatter" data-sortable="true">20</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j19"
          data-footer-formatter="footSumFormatter" data-sortable="true">19</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j18"
          data-footer-formatter="footSumFormatter" data-sortable="true">18</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j17"
          data-footer-formatter="footSumFormatter" data-sortable="true">17</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j16"
          data-footer-formatter="footSumFormatter" data-sortable="true">16</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j15"
          data-footer-formatter="footSumFormatter" data-sortable="true">15</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j14"
          data-footer-formatter="footSumFormatter" data-sortable="true">14</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j13"
          data-footer-formatter="footSumFormatter" data-sortable="true">13</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j12"
          data-footer-formatter="footSumFormatter" data-sortable="true">12</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j11"
          data-footer-formatter="footSumFormatter" data-sortable="true">11</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j10"
          data-footer-formatter="footSumFormatter" data-sortable="true">10</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j9"
          data-footer-formatter="footSumFormatter" data-sortable="true">9</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j8"
          data-footer-formatter="footSumFormatter" data-sortable="true">8</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j7"
          data-footer-formatter="footSumFormatter" data-sortable="true">7</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j6"
          data-footer-formatter="footSumFormatter" data-sortable="true">6</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j5"
          data-footer-formatter="footSumFormatter" data-sortable="true">5</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j4"
          data-footer-formatter="footSumFormatter" data-sortable="true">4</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j3"
          data-footer-formatter="footSumFormatter" data-sortable="true">3</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j2"
          data-footer-formatter="footSumFormatter" data-sortable="true">2</th>
      <th class="right" data-cell-style="cellStylePoints" data-field="j1"
          data-footer-formatter="footSumFormatter" data-sortable="true">1</th>
    </tr>
  </thead>
</table>
{% endblock %}
