.center {
    text-align: center;
}
.right {
    text-align: right;
}

.team_details {
    font-size: 0.7em;
    line-height: 1;
}

.position {
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 40px;
}
.pos-1 {
    background-color: red;
}
.pos-2 {
    background-color: purple;
}
.pos-3 {
    background-color: blue;
}
.pos-4 {
    background-color: orange;
}

.team {
    background-color: grey;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 40px;
}
.team-ALA, .team-CEL, .team-RSO {
    background-color: blue;
}
.team-ATH, .team-MLL, .team-OSA {
    background-color: red;
    color: black;
}
.team-ALM, .team-GIR, .team-GRA, .team-RAY, .team-SEV {
    background-color: white;
    color: red;
    border: 1px solid red;
}
.team-ATM {
    background-color: red;
}
.team-BET {
    background-color: green;
}
.team-CAD, .team-LPA, .team-VIL {
    background-color: yellow;
    color: blue;
}
.team-RMA {
    background-color: purple;
}
.team-VAL {
    background-color: white;
    color: black;
    border: 1px solid grey;
}

.status {
    background-color: grey;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 40px;
}
.status-INJ {
    background-color: red;
}
.status-OUT {
    background-color: black;
}
.status-UNK {
    background-color: orange;
}
