html {
  font-size: 14px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    padding: 0;
}

.index {
    text-align: right;
    padding-right: 8px !important;
    width: 50px;
}
.tag {
    text-align: center;
    width: 32px;
}
.right {
    text-align: right;
}
.top-right {
    padding-right: 8px !important;
    text-align: right;
}

.team-details {
    font-size: 0.8em;
    line-height: 1;
}

.position {
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 30px;
}
.pos-1 {
    background-color: red;
    border: 1px solid red;
}
.pos-2 {
    background-color: purple;
    border: 1px solid purple;
}
.pos-3 {
    background-color: blue;
    border: 1px solid blue;
}
.pos-4 {
    background-color: orange;
    border: 1px solid orange;
}

.team {
    background-color: grey;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 30px;
}
.team-ALA, .team-GET, .team-RSO {
    background-color: blue;
    border: 1px solid blue;
}
.team-ATH, .team-MLL, .team-OSA {
    background-color: red;
    border: 1px solid red;
    color: black;
}
.team-ALM, .team-GIR, .team-GRA, .team-RAY, .team-SEV {
    background-color: white;
    border: 1px solid red;
    color: red;
}
.team-ATM {
    background-color: red;
    border: 1px solid red;
}
.team-BET {
    background-color: green;
    border: 1px solid green;
}
.team-CAD, .team-LPA, .team-VIL {
    background-color: yellow;
    border: 1px solid yellow;
    color: blue;
}
.team-CEL {
    background-color: aqua;
    border: 1px solid aqua;
    color: black;
}
.team-RMA {
    background-color: purple;
    border: 1px solid purple;
}
.team-VAL {
    background-color: white;
    border: 1px solid grey;
    color: black;
}

.status {
    background-color: grey;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 30px;
}
.status-INJ {
    background-color: orange;
    border: 1px solid orange;
}
.status-OUT {
    background-color: black;
    border: 1px solid black;
}
.status-SUS {
    background-color: red;
    border: 1px solid red;
}
.status-UNK {
    background-color: yellow;
    border: 1px solid yellow;
    color: black;
}

.owner {
    background-color: grey;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    text-align: center;
    width: 30px;
}
.own-COC {
    background-color: green;
    border: 1px solid green;
}
.own-EDU {
    background-color: red;
    border: 1px solid red;
}
.own-LIE {
    background-color: blue;
    border: 1px solid blue;
}
.own-JES {
    background-color: orange;
    border: 1px solid orange;
}
.own-RAM {
    background-color: purple;
    border: 1px solid purple;
}
.own-SPO {
    background-color: black;
    border: 1px solid black;
}